<div class="result">
    {{#equals type "people"}}
        <span class="title person">{{name}}</span><br/>
        <span class="text person">{{tag_line}}</span><br/>
        <span class="text person">{{connections}}&nbsp;connections</span><br/>
        Regions:<ul class="text person">{{#each regions}}
            <li>{{this}}</li>
            {{/each}}</ul>
        Issues:<ul class="text person">{{#each issues}}
            <li>{{this}}</li>
            {{/each}}</ul>
    <br/>
    {{/equals}}
    {{#equals type "articles"}}
        <span class="title article">{{title}}</span><br/>
    <span class="text article">Posted on&nbsp;{{date}}</span><br/>
        <span class="text article">{{text}}</span><br/>
        Sections:<ul class="text article">{{#each sections}}
            <li>{{this}}</li>
        {{/each}}</ul>
        Tags:<ul class="text article">{{#each tags}}
            <li>{{this}}</li>
            {{/each}}</ul>
        <a class="text article" href={{url}}>Full Story</a><br/>
    <br/>
    {{/equals}}
</div>