<div class="result">
    {{#equals type "people"}}
        Name:&nbsp;{{name}}<br/>
        About:&nbsp;{{tag_line}}<br/>
        Connections:&nbsp;{{connections}}<br/>
        Regions:<ul>{{#each regions}}
            <li>{{this}}</li>
            {{/each}}</ul>
        Issues:<ul>{{#each issues}}
            <li>{{this}}</li>
            {{/each}}</ul>
    <br/>
    {{/equals}}
    {{#equals type "articles"}}
        Title:&nbsp;{{title}}<br/>
        Body:&nbsp;{{text}}<br/>
        Date:&nbsp;{{date}}<br/>
        Sections:<ul>{{#each sections}}
            <li>{{this}}</li>
        {{/each}}</ul>
        Tags:<ul>{{#each tags}}
            <li>{{this}}</li>
            {{/each}}</ul>
        Url:&nbsp;{{url}}<br/>
        Fee:&nbsp;{{fee}}<br/>
    <br/>
    {{/equals}}
</div>