<p class="result">
    {{#if person}}
        Name:&nbsp;{{name}}<br/>
        About:&nbsp;{{tag_line}}<br/>
        Connections:&nbsp;{{connections}}<br/>
        Regions:&nbsp;{{regions}}<br/>
        Issues:&nbsp;{{issues}}<br/>
    {{/if}}
    {{#if article}}
        Title:&nbsp;{{title}}<br/>
        Body:&nbsp;{{text}}<br/>
        Date:&nbsp;{{date}}<br/>
        Sections:&nbsp;{{sections}}<br/>
        Tags:&nbsp;{{tags}}<br/>
        Url:&nbsp;{{url}}<br/>
        Fee:&nbsp;{{fee}}<br/>
    {{/if}}
</p>